<nav class="navbar px-4 border md:border-0 border-gray-200">
  <div class="max-w-screen-xl mx-auto">
    <div class="container mx-auto flex items-center justify-between">
      <a routerLink="/" class="branding shrink-0">
        <img src="../../../../../assets/imgs/logo.svg" alt="" class="w-[86px] h-[86px]">
      </a>
      <div class=" md:block  md:relative" [class]="isMenuOpen? 'block fixed top-[88px] start-0 h-dvh w-full bg-black/75 z-10':'hidden'" >

        <ul class="  flex md:flex-row flex-col items-center bg-white gap-4 py-4">
          <li><a routerLink="" class="px-6 py-2 text-primary font-medium  transition-all">Home</a></li>
          <li><a routerLink="" class="px-6 py-2 font-medium hover:text-primary transition-all">All Category</a></li>
          <li><a routerLink="" class="px-6 py-2 font-medium hover:text-primary transition-all">About</a></li>
          <li><a routerLink="" class="px-6 py-2 font-medium hover:text-primary transition-all">Contact</a></li>
        </ul>
      </div>
      <ul class=" flex  items-center">
        <li><button class=" py-2 px-2.5 "><i class="fa-solid fa-magnifying-glass text-primary text-xl"></i></button>
        </li>
        @if(!isLoggedIn) {
          <li><button
              class=" bg-primary text-white rounded-circle text-white py-2 px-5 rounded-full text-base font-medium">login</button>
          </li>

        } @else {
          <li><button class=" py-2 px-2.5 relative"><i class="fa-regular fa-heart text-primary text-xl"></i>
              <span
                class="absolute top-0 right-0 bg-primary text-white rounded-full text-xs w-[18px] h-[18px] grid place-items-center">2</span>
            </button></li>
          <li><button class=" py-2 px-2.5 relative"><i class="fa-solid fa-bag-shopping text-primary text-xl"></i>
              <span
                class="absolute top-0 right-0 bg-primary text-white rounded-full text-xs w-[18px] h-[18px] grid place-items-center">5</span>
            </button></li>
          <li><button class=" py-2 px-2.5 relative"><i class="fa-regular fa-user text-primary text-xl"></i>

            </button></li>
          <li><button class=" py-2 px-2.5 relative md:hidden" (click)="toggleMenu()"><i class="fa-solid fa-bars text-primary text-xl"></i>

            </button></li>

        }
      </ul>
    </div>
  </div>
</nav>
