<section class="ratings p-6 rounded-[20px] bg-white dark:bg-zinc-700 shadow">
  <h4 class="title border-b border-zinc-500 pb-6 mb-6 capitalize font-bold">
    {{ "allProduct.filter.ratings-section.ratings" | translate }}
  </h4>
  <ul class="space-y-2">
    @for (rating of [5, 4, 3, 2, 1]; track $index; let i = $index) {
    <li>
      <label
        class="flex items-center text-zinc-500 gap-2 cursor-pointer relative has-[:checked]:before:content-['\f00c'] has-[:checked]:before:absolute has-[:checked]:before:font-['Font_Awesome_6_Free'] has-[:checked]:before:font-bold has-[:checked]:before:text-white"
      >
        <input
          type="checkbox"
          [value]="rating"
          class="w-[15px] h-[15px] border-zinc-500 checked:bg-primary border default:ring-2 rounded-[3px] appearance-none indeterminate:bg-primary"
                  (change)="checkBoxSelected(5 - i)"
/>
        <span>
          @for (star of [].constructor(rating); track $index) {
          <i class="fa-solid fa-star text-primary"></i>
          } @for (star of [].constructor(5 - rating); track $index) {
          <i class="fa-regular fa-star text-primary"></i>
          }
        </span>
      </label>
    </li>
    }
  </ul>
</section>
