<section class="test-popular-items-section bg-white py-10 px-4 dark:bg-zinc-800 dark:text-white">
  <div class="max-w-screen-xl mx-auto">
    <div class="container mx-auto">
        <div class="header flex flex-wrap justify-between flex-row items-center gap-8">
        <div class="title">
          <app-section-title [title]="'Most Popular'"></app-section-title>
        </div>
        <div class="taps">
          <ul class="flex flex-wrap items-center justify-center border-bottom">
            @for(tap of categories; track tap._id) {
              <li><a class="p-2 capitalize text-base font-medium cursor-pointer hover:text-secondary transition-all"
                  [class]="activeTap == tap._id ? 'text-primary dark:text-darkMode-secondary':''"
                  (click)="getPopularItems(tap._id)">{{tap.name}}</a></li>
            }
          </ul>
        </div>
      </div>
      <div class="tabs-body">
        <div class="flex flex-wrap mt-20 md:mt-8">
          @for(product of productsItems;track product.id) {
            <div class="2xl:w-3/12 xl:w-4/12 md:w-6/12 sm:w-6/12 w-full px-3 mb-6">
              <app-item-product [popularItem]="product"></app-item-product>
            </div>
          }@empty {
            <div class="text-center flex flex-col items-center justify-center mx-auto">
              <img src="../../../../../assets/imgs/no-data.png" alt="" width="200px" height="200px" class="text-center">
              <h1 class="text-center my-6 text-4xl font-bold text-primary"> {{ 'notFound.title' | translate }}</h1>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
<p-toast />
