<section class="brands p-6 rounded-[20px] bg-white dark:bg-zinc-700 shadow mb-6">
  <h4 class="title border-b border-zinc-500 pb-6 mb-6 capitalize font-bold">{{ 'allProduct.filter.category-section.category' | translate }}</h4>
  <ul class="space-y-2">
    @for(category of allCategories; track category._id){
      <li class="flex gap-2 items-center text-zinc-500 cursor-pointer">
        <input type="checkbox" [id]="category.name" [name]="category.name" [checked]="category.checked" (change)="checkBoxSelected(category)" class="w-[15px] h-[15px] cursor-pointer"/>
        <div class="flex justify-between w-full text-sm dark:text-white">
          <label [for]="category.name" class="cursor-pointer w-full">{{ category.name }}</label>
          <label [for]="category.name" class="cursor-pointer">({{ category.productsCount }})</label>
        </div>
      </li>
    }
  </ul>
</section>
