::ng-deep .ngx-slider .ngx-slider-pointer{
  background-color: var(--secondary) !important;
  width: 22px !important;
  height: 22px !important;
  top: -7px !important;
}

::ng-deep :after{
  background-color: transparent !important;
  top: 7px !important;
  left: 7px !important;
}

::ng-deep .ngx-slider .ngx-slider-selection {
  background-color: var(--secondary) !important;
  height: 10px !important;
}
