<section class="p-6 rounded-[20px] bg-white dark:bg-zinc-700 shadow mb-6">
  <h4 class="border-b border-zinc-500 pb-3  capitalize font-bold">{{ 'allProduct.filter.price-section.price-rating' | translate }}</h4>
  <div class="">
    <div class="text-primary my-8 font-extrabold">
      {{ rangeValues[0] | currency:'USD':'symbol':'1.0-0' }} - {{ rangeValues[1] | currency:'USD':'symbol':'1.0-0' }}
    </div>
    <!-- <ngx-slider
      [(value)]="minValue"
      [(highValue)]="maxValue"
      [options]="options"
      (click)="getProductsByPriceRange(minValue, maxValue)"
      class="rtl:text-left ltr:text-right">
    </ngx-slider> -->
    <p-slider [(ngModel)]="rangeValues" [range]="true"  (click)="getProductsByPriceRange(rangeValues[0], rangeValues[1])"/>

  </div>
</section>
<!--
  <p>Min value: <input type="number" [(ngModel)]="minValue"></p>
  <p>Max value: <input type="number" [(ngModel)]="maxValue"></p>
-->
