<p-tabs [value]="valueOfTap()" >
    <p-tabpanel [value]="valueOfTap()" class="m-auto">
      <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        @for(item of popularItems; track item.id){
          <!-- <app-main-card [popularItem]="item"></app-main-card> -->
          <app-item-product [popularItem]="item"></app-item-product>
        } @empty {
          <div class="flex justify-center items-center min-h-[200px] col-span-full">
            <p class="text-pink-600/25 text-2xl">No Items</p>
          </div>
        }
      </article>
    </p-tabpanel>
</p-tabs>

<!--

-->


<!--
  <p-tabpanel value="Garment">
    <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 place-items-center">
      @for(item of popularItems; track item.id){
        <app-main-card [popularItem]="item"></app-main-card>
      }
    </article>
  </p-tabpanel>
  <p-tabpanel value="Gifts">
    <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 place-items-center">
      @for(item of popularItems; track item.id){
        <app-main-card [popularItem]="item"></app-main-card>
      }
    </article>
  </p-tabpanel>
  <p-tabpanel value="Occasion">
    <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 place-items-center">
      @for(item of popularItems; track item.id){
        <app-main-card [popularItem]="item"></app-main-card>
      }
    </article>
  </p-tabpanel>
-->
