<!--   <p-carousel
    [value]="categories"
    [numVisible]="3"
    [numScroll]="1"

    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
  >
    <ng-template let-category #item>
      <app-tabs [category]="category"></app-tabs>
    </ng-template>
  </p-carousel> -->
  <p-tabs >
    <p-tablist class="">
      @for(category of categories ; track category._id) {
        @if(category.productsCount > 0 ){

          <p-tab [value]="category.name"  class="text-sm font-semibold">{{ category.name }}</p-tab>
        }

    }
    </p-tablist>

  </p-tabs>



