<section class="special-gifts-section py-5 bg-white	px-4	dark:bg-zinc-800 dark:text-white">
    <div class="max-w-screen-xl mx-auto">
        <div class="container mx-auto">
            <div
                class="md:flex md:justify-around bg-primary-light rounded-2xl p-5 dark:bg-zinc-700 dark:text-white dark:shadow-md">
                @for (item of Features; track $index) {
                <div class="md:flex md:justify-around items-center gap-2">
                    <div class="p-4 bg-primary w-15 h-15 rounded-full dark:bg-darkMode-secondary">
                        <!-- <img [src]="item.icon" [alt]="item.name" class="text-white w-8 h-8 invert brightness-0"> -->
                         <span class="text-white w-8 h-8 invert brightness-0">
                            <i [class]="item.icon"></i>
                         </span>
                    </div>
                    <div>
                        <h2 class="text-primary-dark font-medium dark:text-darkMode-secondary text-lg capitalize">{{item.name}}</h2>
                        <p class="text-secondary-dark text-l dark:text-zinc-300">{{item.description}}</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>

