<div class="w-[217px] h-[122px] rounded-3xl p-4 bg-background-pink mr-8">
  <div class="flex justify-around items-center h-full">
    <!-- bg-background-rose invert -->
    <div class="p-4 bg-background-rose w-20 h-20 rounded-full">
      <img [src]="category.image" alt="Category Image" class="text-white w-12 h-12">
    </div>
    <div>
      <h3 class="primary-heading-black-color font-normal text-lg">{{ category.name.slice(0, 6) }}</h3>
      <h4 class="text-second-color-text text-l">30 Items</h4>
    </div>
  </div>
</div>
