/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
        --primary: #A6252A;
        --primary-light: #FBEAEA;
        --primary-dark: #741C21;
        --secondary: #FF668B;
        --secondary-dark: #71717A;
        --secondary-light: #E65073;
        --shopping: #8C52FF;
}
body {
    font-family: "Roboto", sans-serif;
}

.p-carousel-item-list  .p-carousel-item {
  padding: 8px !important;
}
.p-carousel-content .p-button-text.p-button-secondary {
  background-color: var(--primary);
  color: #fff;

}
.p-carousel-content .p-button-text.p-button-secondary:not(:disabled):hover {
  background-color:  color-mix(in srgb, var(--primary), black 5%);
}
.p-carousel-content-container .p-carousel-indicator-list {
  display: none;
}

.p-tablist-content .p-tab-active {
      background: #fff;
      border-color: var(--primary);
      color: var(--primary);
}
.p-tablist-content .p-tablist-active-bar {
      background: var(--primary);
}
