<!-- <h1 class="text-primary-heading-black-color text-3xl section-title relative">
  {{ title }}
</h1> -->
<h2 class="text-center text-primary-dark capitalize text-3xl font-bold inline-table relative mx-auto isolate
            before:w-3/4 before:h-[17px] before:bg-primary-light before:absolute before:start-0 before:-z-10 before:bottom-0 before:rounded-r-full
            after:w-1/4 after:h-0.5 after:bg-secondary-light after:absolute after:start-0 after:bottom-0
        ">{{ title }}
      </h2>
