

.thumbnail.selected {
  border-color: #c2185b;
}

.icon{
  color: transparent;
  border: 1px solid #c2185b;
}


.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
